.cocktails h2 {
  margin-top: 2.5%;
  font-size: 200%;
}
.cocktails p:nth-child(2) {
  text-align: center;
  margin-top: 1%;
}
.cocktails .downloadBtnDiv {
  margin-top: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cocktails .downloadBtn {
  color: black;
  border: 2px solid black;
  background-color: transparent;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
}
.cocktails .downloadBtn:hover {
  background-color: black;
  color: white;
  transition: ease-in-out 0.25s all;
}
.cocktails .column {
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 4%;
  border-left: 2px solid black;
}
.cocktails .column .container {
  display: flex;
  flex-direction: column;
  margin: 0 20%;
}
.cocktails .column .container h3 {
  margin-top: 6%;
}
.cocktails .column .container h3:nth-child(1) {
  margin-top: 0;
}
.cocktails .column .container p {
  margin-top: 1.5%;
}
.cocktails .column .container div {
  margin-left: 6%;
  margin-top: 6%;
}
.cocktails .column .container div:nth-child(1) {
  margin-left: 0;
  margin-top: 0;
}
.cocktails .column .container div:nth-child(2) {
  margin-left: 6%;
}
.cocktails .column .container div:nth-child(3) {
  margin-left: 9%;
}
.cocktails .column .container div:nth-child(4) {
  margin-left: 11%;
}
.cocktails .column .container div:nth-child(5) {
  margin-left: 13%;
}
.cocktails .column .container div:nth-child(6) {
  margin-left: 15%;
}
.cocktails .column .container div:nth-child(7) {
  margin-left: 15%;
}
.cocktails .column .container div:nth-child(8) {
  margin-left: 13%;
}
.cocktails .column .container div:nth-child(9) {
  margin-left: 11%;
}
.cocktails .column .container div:nth-child(10) {
  margin-left: 9%;
}
.cocktails .column .container div:nth-child(11) {
  margin-left: 7%;
}
.cocktails .column .container div:nth-child(12) {
  margin-left: 5%;
}
