@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*,*::before,*::after{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    scroll-margin-bottom:15rem;
}
body{
    font-family: 'Roboto', sans-serif;
    background-image:linear-gradient(to bottom, #061b28 11% , #739191 52%,rgba(115,145,145,0.2) 92%);
    color:white;
    background-repeat: no-repeat;
    
}

